{
  "printWidth": 120,
  "tabWidth": 2,
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "overrides": [
    {
      "files": ["*.test.js", "*.test.ts"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
